<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="en">
 	<script src="{{ url_for('static', filename='htmx.min.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<head>
        <title>
				Emotion Detection
        </title>
    </head>
	<body hx-get="{{url_for('get_emoji')}}" hx-trigger="every 0.25s" hx-target="#emoji">
		<center>
				<div id="emoji"></div>
		</center>
		
		<div id="books" hx-get="{{url_for('get_books')}}" hx-trigger="every 0.3s" hx-target="#booktable" hx-swap="outerHTML">
				<table id="booktable">
						<thead>
								<tr>
										<th>Movie</th>
								</tr>
						</thead>
						<tbody>
								{% for movie in movies %}
								<tr>
										<td>{{movie}}</td>
								</tr>
								{% endfor %}
						</tbody>
				</table>
		</div>

		<div id="songs" hx-get="{{url_for('get_songs')}}" hx-trigger="every 0.3s" hx-target="#songtable" hx-swap="outerHTML">
				<table id="songtable">
						<thead>
								<tr>
										<th>Movie</th>
								</tr>
						</thead>
						<tbody>
								{% for movie in movies %}
								<tr>
										<td>{{movie}}</td>
								</tr>
								{% endfor %}
						</tbody>
				</table>
		</div>

</body>
</html>
